*

body{
	background-image: url('weather_background.jpg');
	height: 100vh;
	background-size: cover;
	background-position: center;
	opacity: 0.6;
}
.button{
	margin:auto;
	text-align: center;
	font: 24px "Trebuchet MS", sans-serif;
	padding:8px 16px;
	display:inline-block;
	border-radius:3px;
	background-color: #ccc;
}
.city{
	margin: 0;
  position: absolute;
  font-size: large;
  font-weight: bold;
  top: 10%;
  left:45%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
.container {
  height: 200px;
  position: relative;
  border: 3px solid green;
}

.center {
  margin: 0;
  position: absolute;
  top: 18%;
  left:50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
.container1{
	margin-top:100px;
}
h1{
	text-align: center;
	font-family: arial;
	color: #5a5a5a;
}
ul{
	display: flex;
	list-style: none;
	flex-wrap: wrap;
	align-items: flex-start;
	justify-content: center;
	flex-basis: 80%;
}
.temperature{
	font-size: large;
	font-weight: bold;
}
.description{
	font-size: large;
	font-weight: bold;
}
.location{
	font-size: large;
	font-weight: bold;
}